<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Center</title>
    <link rel="icon" href="/static/assets/icon.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>DataFit</h1>
    
    <aside>
        <div class="box">
            Somos uma empresa focada em otimizar o máximo possível o custo do seu data center. 
            Fazemos manutenções preventivas, 
        </div>
    </aside>
    
</body>
<footer>
    <section id="principal">
    
        <div class="modulo">
             
           <div class="container">
               <div class="canvas">
                   
                   <form action="">                     
                                         
                       <h2>Monte o seu:</h2>
                       <ul class="confirmacoes">
                           <li>
                               <input type="checkbox">
                               <label>Hardware</label>
                           </li>
                           <li>
                               <input type="checkbox">
                               <label>Sofware</label>
                           </li>
                           <li>
                                <input type="checkbox">
                                <label>Segurança</label>
                           </li>
                           <li>
                            <input type="checkbox">
                            <label>Refrigeramento</label>
                           </li>
                       </ul>
                                          
                   </form>
                   
               </div>
           </div>
           
        </div>
        
    </section>
</footer>
</html>